<ion-header class="mobile-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="myMenuAccount">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-menu-button>
      <!-- <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-row class="header ion-align-items-center">
  <ion-col size="2" class="ion-align-items-center">
    <a class="logo" routerLink="/apps/ressources/">
      <img src="../../../assets/img/CEP-LOGO-BLANC.png" width="50px">
      <ion-label class="titre-logo">CEP Ressources</ion-label>
    </a>
  </ion-col>
  <ion-col size="8" class="ion-text-center">
    <!-- <ion-button fill="clear" color="dark" routerLink="/apps/ressources/" routerDirection="root" routerLinkActive="active-item"
      [routerLinkActiveOptions]="{exact: true}">
      Accueil
    </ion-button> -->
    <!-- Button with dropdown 
     <!--  (mouseenter)="dropdown=true" (mouseleave)="hideDropdown($event)" --> 
     <ion-button #productbtn fill="clear" color="dark" routerLink="/apps/ressources/dashboard" routerDirection="root" routerLinkActive="active-item">
      Tableau de bord
      <!-- <ion-icon slot="end" [name]="dropdown ? 'chevron-up' : 'chevron-down'"></ion-icon> -->
    </ion-button>
    <!-- <div *ngIf="dropdown" class="dropdown" (mouseleave)="dropdown = false" #dropdownbox>
      <ion-item (click)="dropdown = false" routerLink="/products" [queryParams]="{ category: 'popular'}" lines="none" routerDirection="root" >
        Popular
      </ion-item>
      <ion-item (click)="dropdown = false" button routerLink="/products" [queryParams]="{ category: 'cloth'}"
        lines="none" routerDirection="root" >
        Cloth
      </ion-item>
      <ion-item (click)="dropdown = false" button routerLink="/products" [queryParams]="{ category: 'gadgets'}"
        lines="none" routerDirection="root">
        Gadgets
      </ion-item>
    </div> -->
    <ion-button fill="clear" color="dark" [routerLink]="['/apps/ressources/formations']" routerDirection="root" routerLinkActive="active-item">
      Formations
    </ion-button>
    <ion-button fill="clear" color="dark" [routerLink]="['/apps/ressources/resources']" routerDirection="root" routerLinkActive="active-item">
      Ressources
    </ion-button>
    
  </ion-col>
  <ion-col size="2" class="ion-text-right">
    <ion-button fill="clear" color="dark" #accountbtn (click)="toogleDropdownAccount()">
      <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
    </ion-button>
    <div *ngIf="dropdownAccount" (mouseleave)="dropdownAccount = false" class="dropdown dropdownAccount" #dropdownAccountBox>
     <!-- <ion-item (click)="toogleDropdownAccount()" routerLink="/apps/ressources/notifications" [queryParams]="{ category: 'notif'}" lines="none" routerDirection="root" >
        <ion-icon name="notifications" slot="start"></ion-icon>
        <ion-label>
          Notifications
        </ion-label>
      </ion-item> -->
      <ion-item (click)="toogleDropdownAccount()" button routerLink="/apps/ressources/profil" [queryParams]="{ category: 'profil'}"
        lines="none" routerDirection="root" >
        <ion-icon name="person-circle" slot="start"></ion-icon>
        <ion-label>
          Profil
        </ion-label>
      </ion-item>
      <ion-item (click)="toogleDropdownAccount()" button routerLink="/apps/ressources/eglise" [queryParams]="{ category: 'church'}"
        lines="none" routerDirection="root">
        <ion-icon name="business" slot="start"></ion-icon>
        <ion-label>
          Eglise
        </ion-label>
      </ion-item>
      <ion-item (click)="toogleDropdownAccount()" button routerLink="/apps/ressources/administration/users"
        lines="none" routerDirection="root">
        <ion-icon name="cog" slot="start"></ion-icon>
        <ion-label>
          Administration
        </ion-label>
      </ion-item>
      <ion-item (click)="toogleDropdownAccount()" button routerLink="/apps/ressources/logout" [queryParams]="{ category: 'logout'}"
        lines="none" routerDirection="root">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>
          Se déconnecter
        </ion-label>
      </ion-item>
    </div>
  </ion-col>
 
</ion-row>