.header {
  background-image: url('../../../../../../assets/images/freelancer-763730_1280.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
  font-weight: lighter;
  font-family: system-ui;
  color: cornflowerblue;
}
ion-badge {
  background-color: #00000091;;
}