<div class="flex flex-col w-full">

    <!-- View mode -->
    <ng-container *ngIf="!editMode">

        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <!-- Background -->
            <ng-container *ngIf="membre.background">
                <img
                    class="absolute inset-0 object-cover w-full h-full"
                    [src]="membre.background">
            </ng-container>
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <a
                    mat-icon-button
                    [matTooltip]="'Close'"
                    [routerLink]="['../']">
                    <mat-icon
                        class="text-white"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </a>
            </div>
        </div>

        <!-- Membre -->
        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">

                <!-- Avatar and actions -->
                <div class="flex flex-auto items-end -mt-16">
                    <!-- Avatar -->
                    <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                        <img
                            class="object-cover w-full h-full"
                            *ngIf="membre.avatarImageLink"
                            [src]="membre.avatarImageLink">
                        <div
                            class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                            *ngIf="!membre.avatarImageLink">
                            {{membre.firstName.charAt(0)}}  {{membre.lastName.charAt(0)}}
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="flex items-center ml-auto mb-1">
                        <button
                            mat-stroked-button
                            (click)="toggleEditMode(true)">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                            <span class="ml-2">Edition</span>
                        </button>
                    </div>
                </div>

                <!-- Name -->
                <div class="mt-3 text-4xl font-bold truncate">{{membre.firstName}} {{membre.lastName}}</div>

                <div class="flex flex-col mt-4 pt-6 space-y-8">

                    <div class="w-full  border-b">
                        <div class="text-xl">Profil</div>
                        <div class="text-secondary">Informations de profil</div>
                    </div>

                    <!-- civilite -->
                    <ng-container *ngIf="membre.civilite">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:user'"></mat-icon>
                            <div class="ml-6 leading-6">{{membre.civilite}}</div>
                        </div>
                    </ng-container>

                    <!-- email -->
                    <ng-container *ngIf="membre.email">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                            <div class="ml-6 leading-6">{{membre.email}}</div>
                        </div>
                    </ng-container>

                     <!-- birthDate -->
                    <ng-container *ngIf="membre.birthDate">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:cake'"></mat-icon>
                            <div class="ml-6 leading-6">{{membre.birthDate.toString() | date:'longDate'}}</div>
                        </div>
                    </ng-container>
                    
                     <!-- Adresse -->
                     <ng-container *ngIf="membre.adress">
                        <div class="flex">
                            
                            <mat-icon [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
                            <div class="min-w-0 ml-6 space-y-1">
                                <div class="flex items-center leading-6">
                                    <div  *ngIf="membre.adress.adress1" class="leading-6">{{membre.adress.adress1}}</div>
                                </div>
                                <div class="flex items-center leading-6">
                                    <div  *ngIf="membre.adress.adress2" class="leading-6">{{membre.adress.adress2}}</div>
                                </div>
                                <div class="flex items-center leading-6">
                                    <div  *ngIf="membre.adress.postalCode && membre.adress.city" class="leading-6">{{membre.adress.postalCode}} {{membre.adress.city}}</div>
                                </div>
                                <div class="flex items-center leading-6">
                                    <div  *ngIf="membre.adress.region && membre.adress.country" class="leading-6">{{membre.adress.region}}, {{membre.adress.country}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Phone -->
                    <ng-container *ngIf="telephones && telephones.length">
                        <div class="flex">
                            <mat-icon [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                            <div class="min-w-0 ml-6 space-y-1">
                                <ng-container *ngFor="let phoneNumber of telephones; trackBy: trackByFn">
                                    <div class="flex items-center leading-6">
                                        <div
                                            class="hidden sm:flex w-6 h-4 overflow-hidden"
                                            [matTooltip]="getCountryByIso(phoneNumber.country).name"
                                            [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                            [style.backgroundSize]="'24px 3876px'"
                                            [style.backgroundPosition]="getCountryByIso(phoneNumber.country).flagImagePos"></div>
                                        <div class="sm:ml-3 font-mono">{{getCountryByIso(phoneNumber.country).code}}</div>
                                        <div class="ml-2.5 font-mono">{{phoneNumber.phoneNumber}}</div>
                                        <div
                                            class="text-md truncate text-secondary"
                                            *ngIf="phoneNumber.label">
                                            <span class="mx-2">&bull;</span>
                                            <span class="font-medium">{{phoneNumber.label}}</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>

                    <!-- typeAdhesion -->
                    <ng-container *ngIf="membre.typeAdhesion">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:status-online'"></mat-icon>
                            <div class="ml-6 leading-6">{{membre.typeAdhesion.code}}</div>
                        </div>
                    </ng-container>
                </div>
                <div class="flex flex-col mt-4 pt-6 space-y-8" *ngIf="membre.baptiseDepuis && membre.frequenteEgliseDepuis">
                    <div class="w-full  border-b">
                        <div class="text-xl">Parcours Ecclesial</div>
                        <div class="text-secondary">Informations sur le parcours Ecclesial</div>
                    </div>

                    <!-- baptiseDepuis -->
                    <ng-container *ngIf="membre.baptiseDepuis">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                            <div class="ml-6 leading-6">Date de baptême : {{membre.baptiseDepuis.toString() | date:'longDate'}}</div>
                        </div>
                    </ng-container>
                    <!-- frequenteEgliseDepuis -->
                    <ng-container *ngIf="membre.frequenteEgliseDepuis">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                            <div class="ml-6 leading-6">Fréquente l'église depuis : {{membre.frequenteEgliseDepuis.toString()| date:'longDate'}}</div>
                        </div>
                    </ng-container>
                    
                </div>

                <div class="flex flex-col mt-4 pt-6 space-y-8" *ngIf="membre.situationFamille">
                    <div class="w-full  border-b">
                        <div class="text-xl">Situation familiale</div>
                        <div class="text-secondary">Informations sur la situation de famille</div>
                    </div>

                    <!-- situationFamille -->
                    <ng-container *ngIf="membre.situationFamille">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:user'"></mat-icon>
                            <div class="ml-6 leading-6">{{membre.situationFamille.code}}</div>
                        </div>
                    </ng-container>
                    <!-- Infos Conjoint -->
                    <ng-container *ngIf="membre.situationFamille && membre.situationFamille.code === 'MARIE'">
                        <div class="flex sm:items-center" *ngIf="membre.nomConjoint && membre.prenomConjoint">
                            <mat-icon [svgIcon]="'heroicons_outline:heart'"></mat-icon>
                            <div class="ml-6 leading-6">{{membre.prenomConjoint}} {{membre.nomConjoint}} (id pour link : {{membre.idConjoint}})</div>
                        </div>
                    </ng-container>
                    
                </div>

                <div class="flex flex-col mt-4 pt-6 space-y-8" *ngIf="membre.situationFamille">
                    <div class="w-full  border-b">
                        <div class="text-xl">Enfants</div>
                        <div class="text-secondary">Informations sur les enfants</div>
                    </div>
                    <!-- enfants -->
                    <ng-container *ngIf="enfants">
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:user'"></mat-icon>
                            <div class="min-w-0 ml-6 space-y-1">
                                <ng-container *ngFor="let enfant of enfants; trackBy: trackByFn">
                                    <div class="flex items-center leading-6">
                                        <div class="sm:ml-3 font-mono">{{enfant.prenom}}<span *ngIf="enfant.anneeNaissance">({{enfant.anneeNaissance}})</span></div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>
    </ng-container>

    <!-- Edit mode -->
    <ng-container *ngIf="editMode">

        <!-- Header -->
        <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
            <!-- Background -->
            <ng-container *ngIf="membre.background">
                <img
                    class="absolute inset-0 object-cover w-full h-full"
                    [src]="membre.background">
            </ng-container>
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <a
                    mat-icon-button
                    [matTooltip]="'Close'"
                    [routerLink]="['../']">
                    <mat-icon
                        class="text-white"
                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </a>
            </div>
        </div>

        <!-- Membre form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="membreForm">

                    <!-- Avatar -->
                    <div class="flex flex-auto items-end -mt-16">
                        <div class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                            <!-- Upload / Remove avatar -->
                            <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                            <div class="absolute inset-0 flex items-center justify-center z-20">
                                <div>
                                    <input
                                        id="avatar-file-input"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                        type="file"
                                        [multiple]="false"
                                        [accept]="'image/jpeg, image/png'"
                                        (change)="uploadAvatar(avatarFileInput.files)"
                                        #avatarFileInput>
                                    <label
                                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                        for="avatar-file-input"
                                        matRipple>
                                        <mat-icon
                                            class="text-white"
                                            [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                    </label>
                                </div>
                                <div>
                                    <button
                                        mat-icon-button
                                        (click)="removeAvatar()">
                                        <mat-icon
                                            class="text-white"
                                            [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <!-- Image/Letter -->
                            <img
                                class="object-cover w-full h-full"
                                *ngIf="membre.avatarImageLink"
                                [src]="membre.avatarImageLink">
                            <div
                                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                *ngIf="!membre.avatarImageLink">
                                {{membre.firstName.charAt(0)}} {{membre.lastName.charAt(0)}}
                            </div>
                        </div>
                    </div>

                    <div class="w-full  border-b">
                        <div class="text-xl">Profil</div>
                        <div class="text-secondary">Informations de profil</div>
                    </div>

                    <!-- Civilite -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Civilité</mat-label>
                            <mat-select [formControlName]="'civilite'"
                            [placeholder]="'Civilité'">
                                <mat-option value="MR">
                                    Monsieur
                                </mat-option>
                                <mat-option value="MME">
                                    Madame
                                </mat-option>
                                <mat-option value="MELLE">
                                    Mademoiselle
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Name -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Nom</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                [formControlName]="'lastName'"
                                [placeholder]="'Nom'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>
                    <!-- Prénom -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Prénom</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input
                                matInput
                                [formControlName]="'firstName'"
                                [placeholder]="'Prénom'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Email -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Email</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                            <input
                                matInput
                                [formControlName]="'email'"
                                [placeholder]="'Email'">
                        </mat-form-field>
                    </div>

                    <!-- Birthday -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Date de naissance</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                            <input
                                matInput
                                [matDatepicker]="birthdayDatepicker"
                                [formControlName]="'birthDate'"
                                [placeholder]="'Date de naissance'">
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="birthdayDatepicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #birthdayDatepicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <!-- TypeAdhesion -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Type d'adhésion</mat-label>
                            <mat-select [formControlName]="'typeAdhesion'"
                            [placeholder]="'Type d\'adhésion'" [compareWith]="compareFn">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let typeAdhesion of typesAdhesion" [value]="typeAdhesion">
                                {{typeAdhesion.libelle}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <!-- Phone numbers -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container *ngFor="let phoneNumber of membreForm.get('telephones')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                <div class="relative flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label *ngIf="first">Téléphone(s)</mat-label>
                                        <input
                                            matInput
                                            [formControl]="phoneNumber.get('phoneNumber')"
                                            [placeholder]="'Numéro de téléphone'">
                                        <mat-select
                                            class="mr-1.5"
                                            [formControl]="phoneNumber.get('country')"
                                            matPrefix>
                                            <mat-select-trigger>
                                                <span class="flex items-center">
                                                    <span
                                                        class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                                                        [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                                        [style.backgroundSize]="'24px 3876px'"
                                                        [style.backgroundPosition]="getCountryByIso(phoneNumber.get('country').value).flagImagePos"></span>
                                                    <span class="sm:mx-0.5 font-medium text-default">{{getCountryByIso(phoneNumber.get('country').value).code}}</span>
                                                </span>
                                            </mat-select-trigger>
                                            <ng-container *ngFor="let country of countries; trackBy: trackByFn">
                                                <mat-option [value]="country.iso">
                                                    <span class="flex items-center">
                                                        <span
                                                            class="w-6 h-4 overflow-hidden"
                                                            [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                                            [style.backgroundSize]="'24px 3876px'"
                                                            [style.backgroundPosition]="country.flagImagePos"></span>
                                                        <span class="ml-2">{{country.name}}</span>
                                                        <span class="ml-2 font-medium">{{country.code}}</span>
                                                    </span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto w-full max-w-24 sm:max-w-40 ml-2 sm:ml-4">
                                        <mat-label *ngIf="first">Libellé</mat-label>
                                        <mat-icon
                                            matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                                        <input
                                            matInput
                                            [formControl]="phoneNumber.get('label')"
                                            [placeholder]="'Libellé'">
                                    </mat-form-field>
                                    <!-- Remove phone number -->
                                    <ng-container *ngIf="!(first && last)">
                                        <div
                                            class="flex items-center w-10 pl-2"
                                            [ngClass]="{'mt-6': first}">
                                            <button
                                                class="w-8 h-8 min-h-8"
                                                mat-icon-button
                                                (click)="removePhoneNumberField(i)"
                                                matTooltip="Supprimer">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                        <div
                            class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                            (click)="addPhoneNumberField()">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                            <span class="ml-2 font-medium text-secondary group-hover:underline">Ajouter téléphone</span>
                        </div>
                    </div>

                    <div class="w-full mt-10  border-b">
                        <div class="text-xl">Adresse</div>
                        <div class="text-secondary">Informations d'adresse</div>
                    </div>
                    <!-- Adress -->
                    <div formGroupName="adress">
                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Adresse 1</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
                                <input
                                    matInput
                                    [formControlName]="'adress1'"
                                    [placeholder]="'Adresse 1'">
                            </mat-form-field>
                        </div>

                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Adresse 2</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
                                <input
                                    matInput
                                    [formControlName]="'adress2'"
                                    [placeholder]="'Adresse 2'">
                            </mat-form-field>
                        </div>

                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Code postal</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
                                <input
                                    matInput
                                    [formControlName]="'postalCode'"
                                    [placeholder]="'Code postal'">
                            </mat-form-field>
                        </div>

                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Ville</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
                                <input
                                    matInput
                                    [formControlName]="'city'"
                                    [placeholder]="'Ville'">
                            </mat-form-field>
                        </div>

                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Région</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
                                <input
                                    matInput
                                    [formControlName]="'region'"
                                    [placeholder]="'Région'">
                            </mat-form-field>
                        </div>

                    </div>
                    
                    <!-- PARCOURS ECCLESIAL-->
                    <div class="w-full mt-10  border-b">
                        <div class="text-xl">Parcours Ecclesial</div>
                        <div class="text-secondary">Informations sur le parcours Ecclesial</div>
                    </div>

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Date de baptême</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                            <input
                                matInput
                                [matDatepicker]="baptemeDatepicker"
                                [formControlName]="'baptiseDepuis'"
                                [placeholder]="'Date de baptême'">
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="baptemeDatepicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #baptemeDatepicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Fréquente l'église depuis</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                            <input
                                matInput
                                [matDatepicker]="frequentationDatepicker"
                                [formControlName]="'frequenteEgliseDepuis'"
                                [placeholder]="'Date de fréquentation'">
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="frequentationDatepicker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #frequentationDatepicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                     <!-- SITUATION FAMILIALE -->
                     <div class="w-full mt-10  border-b">
                        <div class="text-xl">Situation familiale</div>
                        <div class="text-secondary">Informations sur la situation de famille</div>
                    </div>

                     <!-- Situation Famille -->
                     <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Situation familiale</mat-label>
                            <mat-select [formControlName]="'situationFamille'"
                            [placeholder]="'Situation familiale'" [compareWith]="compareFn">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let situation of situationsFamille" [value]="situation">
                                {{situation.libelle}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="membreForm.value.situationFamille && membreForm.value.situationFamille.code === 'MARIE'">
                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Nom du conjoint</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                                <input
                                    matInput
                                    [formControlName]="'nomConjoint'"
                                    [placeholder]="'Nom du conjoint'">
                            </mat-form-field>
                        </div>

                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Prénom du conjoint</mat-label>
                                <mat-icon
                                    matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                                <input
                                    matInput
                                    [formControlName]="'prenomConjoint'"
                                    [placeholder]="'Prénom du conjoint'">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Enfants -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container *ngFor="let enfant of membreForm.get('enfants')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                <div class="relative flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label *ngIf="first">Enfant(s)</mat-label>
                                        <input
                                            matInput
                                            [formControl]="enfant.get('prenom')"
                                            [placeholder]="'prénom'">
 
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto w-full max-w-24 sm:max-w-40 ml-2 sm:ml-4">
                                        <mat-label *ngIf="first">Année de naissance</mat-label>
                                        <mat-icon
                                            matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                                        <input
                                            matInput
                                            [formControl]="enfant.get('anneeNaissance')"
                                            [placeholder]="'Année de naissance'">
                                    </mat-form-field>
                                    <!-- Remove enfant -->
                                    <ng-container *ngIf="!(first && last)">
                                        <div
                                            class="flex items-center w-10 pl-2"
                                            [ngClass]="{'mt-6': first}">
                                            <button
                                                class="w-8 h-8 min-h-8"
                                                mat-icon-button
                                                (click)="removeEnfantField(i)"
                                                matTooltip="Supprimer">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                        <div
                            class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                            (click)="addEnfantField()">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                            <span class="ml-2 font-medium text-secondary group-hover:underline">Ajouter enfant</span>
                        </div>
                    </div>
                    
                    <!-- Notes -->
                   <!-- <div class="mt-8">
                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                            <mat-label>Notes</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                            <textarea
                                matInput
                                [formControlName]="'notes'"
                                [placeholder]="'Notes'"
                                [rows]="5"
                                [spellcheck]="false"
                                matTextareaAutosize></textarea>
                        </mat-form-field>
                    </div>-->

                    <!-- Actions -->
                    <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
                        <button
                            mat-button
                            [color]="'warn'"
                            [matTooltip]="'Delete'"
                            (click)="deleteMembre()">
                            Delete
                        </button>
                        <!-- Cancel -->
                        <button
                            class="ml-auto"
                            mat-button
                            [matTooltip]="'Cancel'"
                            (click)="toggleEditMode(false)">
                            Cancel
                        </button>
                        <!-- Save -->
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="membreForm.invalid"
                            [matTooltip]="'Save'"
                            (click)="updateMembre()">
                            Save
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </ng-container>
</div>
