<ion-content>
  <ng-container *ngIf="(this.groupsCategories  | keyvalue).length > 0; else noGroup">
    <div class="content" [ngClass]="i%2==0?'pair':'impair'" *ngFor="let groupCategorie of this.groupsCategories  | keyvalue; let i=index">
      <div class="content-wrapper">
        <div class="categorie-title">
          <ion-text><h3>{{groupCategorie.key}} <ion-badge color="primary">{{groupCategorie?.value?.length}}</ion-badge></h3></ion-text>
          <a class="browse-all" [routerLink]="['/apps/ressources/formations']" [queryParams]="{ searchCategorie: groupCategorie.key}">Voir tout</a>
        </div>
        <div class="resource-content-wrapper">
        
            <ng-container *ngFor="let resource of groupCategorie.value; let i=index">
              <div class="card">
                <a [routerLink]="resource.typeResourceEnum == 'RESSOURCE' ? ['/app/ressources/resources', resource.id, 'view'] : ['/apps/ressources/formations', resource.id, 'view']">
                  <div class="resource-block">
                    <div class="block-image" style="background: url({{resource.imageLink}}) no-repeat center; background-size: cover;">
                      <ng-container *ngIf="resource.nbTotalVideoLues && resource.nbTotalVideoLues[0].value > 0">
                        <ngx-charts-pie-grid 
                          class="pie"
                          [view]="view"
                          [scheme]="colorScheme"
                          [results]="resource.nbTotalVideoLues"
                          [designatedTotal]="resource.nbTotalVideo"
                          label="Videos lues"
                        >
                        </ngx-charts-pie-grid>
                      </ng-container>
                      <ng-container *ngIf="resource.nbTotalVideoLues && resource.nbTotalVideoLues[0].value == 0">
                        <div class="pie">Formation <br/>démarrée</div>
                      </ng-container>
                      <div class="screen"></div>
                    </div>
                    <div class="block-text">
                      <div class="block-title">{{resource.title}}</div>
                    </div>
                  </div>
                </a>
              </div>
            </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noGroup>
    <div class="p-8 sm:p-16 text-2xl text-center">Votre tableau de bord est vide.</div>
    <div class="p-8 sm:p-16 border-b text-1xl text-center">Il se remplira lorsque vous aurez lu des ressources ou formations.</div>
  </ng-template>
</ion-content>
