ion-content {
  --background: #f7f7f7
}
p {
  margin: 20px 0;
}

h1 {
  margin-top: 20px;
  font-size: 1.7em;
  font-weight: 500;
}

h2 {
  margin-top: 18px;
  font-size:1.6em;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom : 10px;
}


a {
  background-color: transparent;
  color: var(--ion-color-primary, #3880ff);
}

.content {
    padding-right: 15px;
    padding-left: 15px;
    
    .content-wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding-bottom: 20px;
      .categorie-title {
        padding-bottom: 20px;
        padding-top:10px;
  
        .browse-all{
          margin-top: -30px;
          float: right;
          text-decoration: none;
        }
        .browse-all:hover{
          text-decoration: underline;
        }
      }
      .resource-content-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .card {
            a {
                text-decoration: none;
                color: #1D252C;
            }
            width: 25%;
            margin-bottom: 1rem;
            margin-top: 0;
            padding-right: 15px;
            padding-left: 15px;
            .resource-block {
                .block-image{
                    width: 100%;
                    height: 150px;
                    position:relative;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;

                    .pie {
                      position: absolute;
                      z-index: 9;
                      fill: #e0e0e0;
                      color: #e0e0e0;
                    }
                    .screen {
                      position: absolute;
                      top: 0;
                      bottom: 0px;
                      left: 0px;
                      right: 0px;
                      background: #000;
                      opacity: 0.5;
                    }
                }
                .block-text{
                    .block-title{
                        color: #1D252C;
                        font-size: 1.2em;
                        margin-top: 10px;
                    }
                }
            }
 
        }
      }
    }
}

@media screen and (max-width: 768px) {
    .content {
        .content-wrapper {
        
          .categorie-title {
            
            .browse-all{
              
            }
            .browse-all:hover{
              
            }
          }
          .resource-content-wrapper{
            .card {
                width: 50%;
                
                .resource-block {
                    .block-image{
                        
                    }
                    .block-text{
                        .block-title{
                            font-size: 1em;
                        }
                    }
                }
            }
          }
        }
    }
}
